/* Global Defults   */

body { 
    background-color: rgb(237, 238, 234);

    font-family: Arial, Helvetica, sans-serif;
    text-align: center
    ;
    
}

img { 
    max-width: 100%; 
}



/* Layout */

.layout-wide{
background-color: rgb(255, 248, 227); 

max-width: 1200px;
padding: 40px;
margin-left: auto;
margin-right: auto;     


}

/* Headings and Typography*/

/* Header */ 

/* Navigation */

/*Footer*/

/* Modules */ 