/* Global Defults   */

@import url("normalise.css");

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

html{
    font-size: 16px;
    line-height: 27px;
}

body { 
    background-color: rgb(237, 238, 234);

    font-family: 'Cormorant Garamond', serif;
    text-align: center
    ;
    
}

img { 
    max-width: 100%; 
}



/* Layout */

.layout-wide{
background-color: rgb(255, 252, 244); 

max-width: 1200px;
padding: 40px;
margin-left: auto;
margin-right: auto;     


}

/* Headings and Typography*/

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Cormorant Garamond', serif;

}

h1{
    font-size: 2rem;
}

h2{
    font-size: 2rem;
}

/* Header */ 

/* Navigation */

/*Footer*/

/* Modules */ 

.content-box {
    background-color: rgb(255, 253, 245);
    padding: 20px;

}
.news-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-box {
    background-color: rgb(255, 253, 245);
    padding: 20px;

}
.news-component-number-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-box {
    background-color: rgb(255, 253, 245);
    padding: 20px;
}

.photography{
    text-align: left;

}

.branding{
    text-align: right ;
}

.littleboy{
    display: grid;
    grid-template-columns: 1fr 1fr;

    
}
